body{
	background-color: #20223A;
}
header{
	background-color: black;
}
footer{
	background-color: #010324;
	height: 100px;
	text-align: center;
	padding-top: 4%;
	color: white;
}
.img-header{
	width: 80%;
}
a{
	text-decoration: none;
	color: white;
	font-family: 'Open Sans';
  	font-style: italic;
  	font-weight: 400;
}
header li{
	display: inline-block;
	margin-top: 30px;
	margin-left: 20px;

}
section li{
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 40px;
}

#fondo{
	background-image: url(../image/header-image.jpg);
	padding: 20%;
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: center;
}
#black_color{
	background-color: black;
	text-align: center;
}
.leter{
	background-color: black;
	text-align: center;
	padding-bottom: 20px;
}
.font-leter{
	font-family: 'Open Sans';
  	font-style: italic;
  	font-weight: 400;
  	color: white;
  	margin-top: 8px;
  	text-align: center;
  	font-size: 16px;
}
.parrafos{
	background-color: #010324;
	margin-bottom: 40px;
}
.search{
	background-color: #010324;
	text-align: center;
	height: 70px;
	margin-bottom: 20px;
	padding-top: 20px;
}
.color_blue{
	background-color: #20223A;
	border: #20223A;
	height: 30px;
	width: 90%;
	padding-left: 15px;
}
.sec-2{
	margin-top: 40px;
}
#redes{
	color:white;
	border-radius: 100%;
	background-color: #20223A;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 7px;
	margin-left: 15px;
	margin-bottom: 20px;

}
.redes{
	margin-top: 20px;
}
h3{
 	color:#E1A346;
	text-align: center;
	font-family:Courgette;
	margin-top: 8px;
}
h2{
	color:#E1A346;
	text-align: center;
	font-family:Courgette;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
}
h1{
	color:#E1A346;
	font-family:Courgette;
	font-size: 90px;
	padding-top: 30px;
}
.font-pd{
	color: white;
	font-size: 15px;
	padding-left: 30px;
	padding-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;

}
.linea{
	color:white;
}
img{
	width: 100%;
}

/* Responsive */


@media(max-width:375px){
	.col-5{
		width: 100%;
	}
	.col-12{
		width: 100%;
	}
}
@media(min-width:376px) and (max-width: 667px){
	
}
@media(min-width:667px) and (max-width: 1024px){
	
}
@media(min-width:1024px){
	
}